:host .holder {
  display: flex;
  align-items: center;
  font-family: var(--font-family-rational, sans-serif);
  font-size: var(--font-size-paragraph2, 14px);
}

:host button {
  background: transparent;
  border: 2px solid var(--color-primary-dawn, #87027B);
  border-radius: var(--border-radius-circle, 50%);
  height: 32px;
  width: 32px;
  margin-right: var(--space-tiny, 8px);
  transition: 0.2s ease-out;
}

:host button:hover {
  background-color: var(--color-secondary-dawn-light, #B130A6);
  border-color: var(--color-secondary-dawn-light, #B130A6);
  transition: 0.2s ease-in;
}

:host button:focus {
  background: var(--color-secondary-dawn-dark, #6F1167);
  border-color: var(--color-secondary-dawn-dark, #6F1167);
}

:host svg {
  width: 16px;
}

svg path {
  fill: var(--color-primary-dawn, #87027B);
}

:host button:hover svg path,
:host button:focus svg path {
  fill: var(--color-primary-white, #FFFFFF);
}

:host slot {
  padding-left: var(--space-tiny, 8px);
  color: var(--color-primary-dawn, #87027B);
}

:host([dark]) button,
:host([dark]) slot {
  border-color: var(--color-primary-daybreak, #3CCBDA);
  color: var(--color-primary-daybreak, #3CCBDA);
}

:host([dark]) button:hover {
  background-color: var(--color-secondary-daybreak-light, #afeaf0);
  border-color: var(--color-secondary-daybreak-light, #afeaf0);
}

:host([dark]) button:focus {
  background-color: var(--color-secondary-daybreak-dark, #0F6177);
  border-color: var(--color-secondary-daybreak-dark, #0F6177);
}

:host([dark]) svg path {
  fill: var(--color-primary-daybreak, #3CCBDA);
}

:host([disabled]) button,
:host([disabled]) button:hover,
:host([disabled]) slot {
  border-color: var(--color-secondary-grey-light, #D8D8D8);
  color: var(--color-secondary-grey-light, #D8D8D8);
}

:host([disabled]) button:hover,
:host([disabled]) button:focus {
  background: transparent;
}

:host([disabled]) button:focus svg path {
  fill: var(--color-secondary-grey-light, #D8D8D8);
}

:host([disabled]) button:focus svg path {
  fill: var(--color-secondary-grey-light, #D8D8D8);
}

:host([disabled]) svg path,
:host([disabled]) button:hover svg path {
  fill: var(--color-secondary-grey-light, #D8D8D8);
}

:host([dark][disabled]) button,
:host([dark][disabled]) button:hover,
:host([dark][disabled]) slot {
  border-color: var(--color-secondary-grey-dark, #9B9B9B);
  color: var(--color-secondary-grey-dark, #9B9B9B);
}

:host([dark][disabled]) button:hover,
:host([dark][disabled]) button:focus {
  background: transparent;
}

:host([dark][disabled]) button:focus svg path {
  fill: var(--color-secondary-grey-dark, #9B9B9B);
}

:host([dark][disabled]) button:focus svg path {
  fill: var(--color-secondary-grey-dark, #9B9B9B);
}

:host([dark][disabled]) svg path,
:host([dark][disabled]) button:hover svg path {
  fill: var(--color-secondary-grey-dark, #9B9B9B);
}

:host([large]) button {
  width: 64px;
  height: 64px;
}

:host([large]) svg {
  width: 24px;
}

.turnback {
  transform: rotate(180deg);
}